<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NencerHis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <userSettings>
    <NencerHis.Properties.Settings>
      <setting name="Language" serializeAs="String">
        <value>en</value>
      </setting>
      <setting name="RoomTypeExam" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ServiceGroupCodeExam" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="RoomTypeSample" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="RoomTypeHandle" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="ServiceGroupId_EXAM" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ServiceGroupId_XN" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ServiceGroupId_PTTT" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="ServiceGroupId_CDHA" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="RoomTypePTTT" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="RoomTypeCDHA" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="RoomTypeTDCN" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="BarcodeMaxLength" serializeAs="String">
        <value>4</value>
      </setting>
    </NencerHis.Properties.Settings>
  </userSettings>
</configuration>